.inicio {
    outline: auto;
    width: 100%;
    margin: auto;
    height: 100vh; 
    display: block;
    position: relative;
}

.btn-vol {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 40%;
    z-index: 7;
    border: none;
    padding: 20px;
    font-size: 30px;
    background-image: linear-gradient(#91f6fa, #54b4ae);
    border-radius: 10%;
}

.btn-vol:hover {
    cursor: pointer;
}

.btn-vol:active {
    transform: scale(.9);
    left: 37%;
}

#contN {
    display: none;
}
